Hello/.vscode
Hello/HelloWebapi/bin
Hello/HelloWebapi/obj
BookStore/WebApi/bin
BookStore/WebApi/obj
LinqPractices/obj
LinqPractices/.vscode
LinqPractices/bin
MiddlewarePractices/.vscode
MiddlewarePractices/MiddlewarePractices/bin
MiddlewarePractices/MiddlewarePractices/obj

